<h1>プロフィール変更</h1>

<%= form_for(@user) do |f| %>

    <%= f.label :プロフィール画像 %>
    <%= f.attachment_field :image %><br />

    <%= f.label :氏名 %>
    <%= f.text_field :name %><br />

    <%= f.label "氏名（カナ）" %>
    <%= f.text_field :name_kana %><br />

    <%= f.label :郵便番号 %>
    <%= f.text_field :postal_code %><br />

    <%= f.label :住所  %>
    <%= f.text_field :address  %><br />

    <%= f.label :電話番号 %>
    <%= f.text_field :tel %><br />

    <%= f.label :メールアドレス %>
    <%= f.text_field :email %><br />

    <%= f.submit "Update User" %>

<% end %>
