<h1>ユーザー情報編集</h1>

<%= form_for(@customer) do |f| %>

  <div class="field">
    <%= f.label :名前 %><br />
    <%= f.label :性 %>
    <%= f.text_field :last_name,autocomplete: "name" %>
    <%= f.label :名 %>
    <%= f.text_field :first_name,autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :名前カナ %><br />
    <%= f.label :セイ %>
    <%= f.text_field :last_name_kana,autocomplete: "name" %>
    <%= f.label :メイ %>
    <%= f.text_field :first_name_kana,autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :ユーザー画像 %><br />
    <%= f.attachment_field :image, placeholder: "プロフィール画像"%>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :パスワード %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :パスワード（再確認） %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
