<h1>カート詳細ページ</h1>

<% unless @cart_items  %>
  <p>カート内に商品はありません。</p>
<% end %>

<div class="row">
<% @cart_items.each do |cart_item| %>
  <div class="col-md-3">
  <p>ジャケット:<%= attachment_image_tag cart_item.product, :jacket, :fill, 50, 50, format: 'jpeg', class: "product-img", fallback: "no_image.jpg" %></p>
  <p>アルバム名:<%= cart_item.product.name %></p>
  <p>価格:<%= (cart_item.product.price  * @TAX).floor %>円<p>
  <p>注文数:<%= cart_item.quantity %>枚<p>
  <%= link_to 'カート削除', delete_item_path(product_id: cart_item.product.id) , method: :delete %>

  <% @sum_price += cart_item.product.price * cart_item.quantity %>
  </div>
<% end %>

<div class="col-md-12">
  <p>合計金額<%= (@sum_price  * @TAX).floor %>円</p>
  <p><%= link_to '注文する' ,orders_select_path,class: "btn btn-danger" %></p>
</div>