<h1>新規商品登録</h1>

<%= form_for(@product),do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, :autofocus => true %>

  <%= f.label :price %>
  <%= f.text_field :price %>

  <%= f.label :stock %>
  <%= f.text_field :stock %>

  <%= f.label :product_status %>
  <%= f.text_field :product_status %>

<% end %>
