<h1>商品登録</h1>

<%= form_for(@product,url: admin_products_path) do |f| %>

  <p><%= f.label :商品名 %>
  <%= f.text_field :name %></p>

  <p><%= f.label :価格 %>
  <%= f.text_field :price %>円</p>

  <p><%= f.label :ジャケット画像 %>
  <%= f.attachment_field :jacket, placeholder: "プロフィール画像" %></p>

  <p><%= f.label :アーティスト名 %>
  <%= f.fields_for :artist do |a| %>
    <%= a.text_field :name %>
  <% end %></p>

  <p><%= f.label :レーベル名 %>
  <%= f.text_field :label_id %></p>

  <p><%= f.label :ジャンル名 %>
  <%= f.text_field :genre_id %></p>

  <p><%= f.label :在庫量 %>
  <%= f.text_field :stock  %>枚</p>

  <%= f.submit "商品を登録する", class:"btn btn-primary btn-block " %>

<% end %>
