<h1>商品詳細ページ</h1>

<div class="product-box">
  <%= attachment_image_tag @product, :jacket, :fill, 50, 50, format: 'jpeg', class: "product-img", fallback: "no_image.jpg" %>

  商品名：<%= @product.name %>

  アーティスト名<%= @product.artist_id %>

  ジャンル名：<%= @product.genre_id %>

  在庫数：<%= @product.stock %>

  現在<%= @product.product_status %>

  価格：<%= @product.price %>
</div>

<h2>曲目</h2>


<% @discs.each do |disc| %>
  <strong><%= disc.disc_number %>枚目</strong>
  <p>
  <% disc.songs.each do |song| %>
    <p><%= song.name %></p>
  <% end %>
  </p>
<% end %>

<%= link_to '戻る', products_path %>
<%= link_to '編集', edit_admin_product_path(@product) %>