<h1><%= @user.last_name %><%= @user.first_name %>さんの詳細ページ</h1>

<h2>情報</h2>

<p>画像:<%= attachment_image_tag @user, :image, :fill, 50, 50,fallback: "no_image.jpg" %></p>
<p>email:<%= @user.email %></p>
<p>郵便番号:<%= @user.addresses.find(1).postal_code %></p>
<p>住所:<%= @user.addresses.find(1).address_name %></p>
<p>電話番号:<%= @user.addresses.find(1).tel %></p>


<h2>注文履歴一覧</h2>
<table class="table">
  <tr>
    <th>注文時刻</th>
    <th>住所</th>
    <th></th>
  </tr>
  <% @orders.first(3).each do |order| %>
    <tr>
      <td><%= order.created_at.strftime("%Y年%m月%d日 %H:%M") %></td>
      <td><%= order.address.address_name %></td>
      <td><%= link_to "詳細" , admin_order_path(order.id) %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'ユーザー編集する', edit_admin_user_path(@user) %>