<h1>商品一覧</h1>

<table>

<% @products.each do |product| %>
<tr>
	<td>ジャケット：<%= attachment_image_tag product, :jacket, :fill, 50, 50, format: 'jpeg',fallback: "no_image.jpg" %> </td>
	<td>タイトル：<%= product.name %> </td>
	<td>値段：<%= product.price %> </td>
	<td>アーティスト：<%= product.artist %> </td>
	<td>レーベル：<%= product.label %> </td>
	<td>ジャンル：<%= product.genre %> </td>
	<td>曲名：<%= product.music %> </td>
	<td>在庫数：<%= product.stock %> </td>
	<td><%= link_to '詳細',edit_product_path(product) %> </td>
</tr>

<% end %>

</table>
