<h1>商品一覧</h1>

<% @products.each do |product| %>
  <div class="product-box">
    <%= link_to product_path(product) do %>
    <p><%= attachment_image_tag product, :jacket, :fill, 50, 50, format: 'jpeg', class: "product-img", fallback: "no_image.jpg" %></p>
    <% end %>
    <p><%= product.name %></p>
    <p>価格：<%= product.price %>円</p>
    <p>在庫数：<%= product.stock %>枚</p>
  </div>
<% end %>

<%= paginate @products %>