<h1>商品一覧</h1>

<table>
	<tr>
		<th>ジャケット</th>
		<th>タイトル</th>
		<th>値段</th>
		<th>アーティスト</th>
		<th>レーベル</th>
		<th>ジャンル</th>
		<th>曲名</th>
		<th>在庫数</th>
		<th colspan="2"></th>
	</tr>

	<% @products.each do |product| %>
		<tr>
			<td><%= attachment_image_tag product, :jacket, :fill, 50, 50, format: 'jpeg',fallback: "no_image.jpg" %> </td>
			<td><%= product.name %> </td>
			<td><%= product.price %> </td>
			<td><%= product.artist %> </td>
			<td><%= product.label %> </td>
			<td><%= product.genre %> </td>
			<td><% product.musics.each do |music| %>
				<%= music.name %>
			<% end %></td>
			<td><%= product.stock %> </td>
			<td><%= link_to '詳細',product_path(product) %> </td>
			<td><%= link_to '削除',product_path(product), method: :delete,"data-confirm" => "本当に削除しますか？" %> </td>
		</tr>

	<% end %>

</table>

<p><%= link_to("商品追加", new_product_path) %></p>
