<h1>商品一覧</h1>

<div class="row">
  <% @products.each do |product| %>
  <% unless product.destory_flag == true %>
  <div class="product-box col-md-3 panel-body panel panel-success">
    <%= link_to product_path(product) do %>
    <p>
      <%= attachment_image_tag product, :jacket, :fill, 50, 50, format: 'jpeg', class: "product-img", fallback: "no_image.jpg" %>
    </p>
    <% end %>
    <p><%= product.name %></p>
    <p>価格：<%= (product.price * @TAX).floor %>円</p>
    <% if product.stock == 0 %>
    この商品は売り切れです。
    <% else %>
    <p>在庫数：<%= product.stock %>枚</p>
    <% end %>
  </div>
  <% end %>
  <% end %>
</div>

<%= paginate @products %>