<h1>アルバム追加</h1>

<%= form_for(@product) do |f| %>

	<%= f.label :ジャケット画像 %>
	<%= f.attachment_field :jacket %><br />

	<%= f.label :アルバム名 %>
	<%= f.text_field :name %><br />

	<%= f.label :アーティスト %>
	<%= f.text_field :artist %><br />

	<%= f.label :価格 %>
	<%= f.text_field :price %><br />

	<%= f.label :レーベル  %>
	<%= f.text_field :label  %><br />

	<%= f.label :ジャンル %>
	<%= f.text_field :genre %><br />

    <%= f.fields_for :musics do |f| %>
      <%= f.label "曲名" %>
      <%= render "music_fields", f: f %>
    <% end %>
    <div class="links">
    <%= link_to_add_association "曲名を追加", f, :musics %><br />
	</div>

	<%= f.label :在庫数 %>
	<%= f.text_field :stock %><br />

	<%= f.submit :投稿 %>

<% end %>