<h1>商品詳細ページ</h1>

<div class="product-box">
  <%= attachment_image_tag @product, :jacket, :fill, 50, 50, format: 'jpeg', class: "product-img", fallback: "no_image.jpg" %>

  商品名：<%= @product.name %>

  アーティスト名<%= @product.artist_id %>

  ジャンル名：<%= @product.genre_id %>

  レーベル名：<%= @product.label_id %>

  在庫数：<%= @product.stock %>

  現在<%= @product.product_status %>

  価格：<%= @product.price %>
</div>

<h2>曲目</h2>

<% @discs.each do |disc| %>
  <strong><%= disc.disc_number %>枚目</strong>
  <p>
  <% disc.songs.each do |song| %>
    <p><%= song.song_number %>,<%= song.name %></p>
  <% end %>
  </p>
<% end %>



<%= link_to '戻る', products_path %>

<% if customer_signed_in? %>
  <% if @product.stock == 0 %>
    この商品は売り切れです。
  <% else %>
    <%= form_for(@cart_item, url: add_item_path ) do |f| %>
        <p>数量：<%= f.number_field :quantity %></p>
        <%= f.hidden_field :product_id, :value => @product.id %>
        <p><%= f.submit "カートに追加", class: "btn btn-danger glyphicon glyphicon-shopping-cart" %></p>
    <% end %>
  <% end %>
<% end %>
